<table border="2">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Fees</th>
    <th>Discount</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let course of coursedata">
    <td>{{course.id}}</td>
    <td>{{course.name}}</td>
    <td>{{course.description}}</td>
    <td>{{course.fees}}</td>
    <td>{{course.discount}}</td>
    <td>
      <input type="button"  value="edit"  (click)="edit(course)" >
      <input type="button"  value="delete"  (click)="delete(course)" >
    </td>
  </tr>
</table>

