<input type="button" (click)="view()" value="view"> <br/>
<h2>course Entry Form</h2>
<form [formGroup]="courseInfo" (ngSubmit)="save()">
    <table>
      <tr>
        <th>
           ID:
        </th>
        <td>
          <input type="number" formControlName="id" >
        </td>
      </tr>
      <tr>
        <th> Name :</th>
        <td><input type="text" formControlName="name" size="20"></td>
      </tr>
      <tr>
        <th>Description :</th>
        <td><textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea></td>
      </tr>
      <tr>
        <th>Fees :</th>
        <td><input type="number" formControlName="fees"></td>
      </tr>
      <tr>
        <th>Discount :</th>
        <td><input type="number" formControlName="discount" value="0"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="save">
          <input type="reset" value="clear">
        </td>
      </tr>
    </table>

</form>
<h3>{{msg}}</h3>

<table border="2">
   <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Description</th>
     <th>Fees</th>
     <th>Discount</th>
     <th>Action</th>
   </tr>
   <tr *ngFor="let course of coursedata">
      <td>{{course.id}}</td>
      <td>{{ course.name}}</td>
     <td>{{course.description}}</td>
     <td>{{course.fees}}</td>
     <td>{{course.discount}}</td>
     <td>
       <input type="button"  value="edit"  (click)="edit(course)" >
       <input type="button"  value="delete"  (click)="delete(course)" >
     </td>
   </tr>
</table>
